**/node_modules/**

# Framework specific posts input and output/built folders
gatsby/my-gatsby-site/dist
gatsby/my-gatsby-site/src/pages/posts/*.md

eleventy/_site
eleventy/posts/*.md

hugo/quickstart/public
hugo/quickstart/content/posts/*.md

nextjs-file-routing/my-app/.next
nextjs-file-routing/my-app/out
nextjs-file-routing/my-app/_posts/*.md

astro-with-mdx/my-astro-site/dist
astro-with-mdx/my-astro-site/src/pages/posts/*.md

# Prereleases
